/* Style Links */
a:hover {
    text-decoration: none;
    color: gray;
}

a {
    text-decoration: none;
    color: white;
}

/* Style the Header Area */
header {
    background-color: maroon;
}

.branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    margin: auto auto;
    text-align: center;
}

#brand {
    margin-top: 0;
}

/* Style Container */
.container {
    max-width: 90%;
    padding: 0 5%;
}
/*Style List*/
.list-group-item {
    display: flex;
    flex-direction: column;
}

.pull-right {
    align-self: flex-end;
}

/* Style Add Animal Button */
#add-animal-button {
    margin-bottom: 12px;
    max-width: 50%;
    align-self: center;
    font-size: 1em;
    white-space: normal;
    text-align: center;
}

/* Format the form elements */
.btn-danger {
    margin-left: 4px;
}

.formbtn {
    margin-bottom: 20px;
}

.btn-warning {
    margin-left: 4px;
}

#list-container {
    /* float: left; */
    max-width: 100%;
    margin: 0 auto;
}

.mainbox {
    margin: 15px auto;
}

/* Style Footer */
footer {
    text-align: center;
}

/* Style Social Icons */
.fab {
    font-size: 2em;
}
.fa-github {
    color: mediumslateblue;
}
.fa-linkedin {
    color: #6699cc;
}